/*------------ Login container ------------*/

body{
    background: linear-gradient(to right, #c2c2c2 ,#6186ff) !important;
}



.box-area {
    width: 930px;
}



.foto-tmplet{
    height: 470px;
    width: 370px !important;
    border-radius: 10px;
}


.left-box{
    background: #dddddd0f;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;

}

.carousel-inner{
    box-shadow: 0 0 1px;
    border: solid rgb(239, 239, 239) 1px;
    border-radius: 10px;
}


#carouselExampleAutoplaying{
    height: 470px;
    width: 370px;
    
}