<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="./assests/logo-no-background.svg" alt="Logo" class="logo">
    </a>

    <button class="navbar-toggler h-75" type="button" data-bs-toggle="collapse" data-bs-target="#main"
      aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse fw-bold" id="main">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3 " routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2 p-lg-3" routerLink="/">Add Items</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  p-2 p-lg-3" routerLink="/">Cart</a>
        </li>
        
      </ul>
      <a routerLink="/sgin-in-sign-up" class="btn btn-outline-secondary ms-2 icont">
        <i class="fas fa-user"></i>
      </a>
       <a class="btn btn-outline-secondary ms-2 icont"
       (mouseover)="showLoginText()"
       (mouseout)="hideLoginText()"
       routerLink="/">
       <i class="fa-solid fa-arrow-right-to-bracket login-icon" [style.opacity]="loginIconOpacity"></i>
       <span class="ms-2 login-text" [style.display]="loginTextVisible ? 'inline' : 'none'">Payment</span>
   </a>
   
    </div>
  </div>
</nav>