body {
    background-color: #ebb889;
    font-family: 'Arial', sans-serif;
}
.contact-container {
    background-color: #f6f4f1;
    margin-top: 50px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-header {
    background-color: #f0eae1af;
    color: #333;
    padding: 10px;
    font-weight: bold;
    text-align: center;
}
.info-divider {
    height: 2px;
    background-color: #d17a63;
    margin: 10px 0;
}
.info-text {
    color: #333;
}
.info-card {
    background-color: #333;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    height: 100%;
}
.info-card p {
    margin-bottom: 15px;
}
.info-card a {
    color: #fff;
    margin-right: 10px;
}
.logo {
    text-align: center;
    padding: 10px;
    color: #d17a63;
    font-weight: bold;
    font-size: 24px;
    background-color:  #f0eae1af;
    border-radius: 10px;
    margin-top: 20px;
}
.logo img {
    max-width: 100px;
    height: auto;
}
.save-btn {
    background-color: #d17a63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}
.save-btn:hover {
    background-color: #bf6b57;
}