<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 contact-container">
            <div class="row">
                <div class="col-md-7">
                    <div class="contact-header">
                        <h2>CONTACT</h2>
                    </div>
                    <div class="contact-form"><br><br>
                        <p class="info-text"><strong>First Name:</strong> </p>
                        <div class="info-divider"></div>
                        <p class="info-text"><strong>Last Name:</strong> </p>
                        <div class="info-divider"></div>
                        <p class="info-text"><strong>Email:</strong> </p>
                        <button class="btn save-btn">SAVE</button>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="info-card">
                        <h4 class="mb-4">INFO</h4>
                        <p><i class="fas fa-user" style="color: #d17a63;"></i> <strong>First Name:</strong> John</p>
                        <p><i class="fas fa-user" style="color: #d17a63;"></i> <strong>Last Name:</strong> Doe</p>
                        <p><i class="fas fa-envelope" style="color: #d17a63;"></i> johndoegmail.com</p>
                        <p><i class="fas fa-phone" style="color: #d17a63;"></i> +26 45 89 235</p>
                        <p><i class="fas fa-clock" style="color: #d17a63;"></i> 09:00 - 18:00</p>
                        <div class="mt-3">
                            <a href="#"><i class="fab fa-facebook fa-2x" style="color: #d17a63;"></i></a>
                            <a href="#"><i class="fab fa-twitter fa-2x" style="color: #d17a63;"></i></a>
                            <a href="#"><i class="fab fa-instagram fa-2x" style="color: #d17a63;"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo">
                <img src="./assests/logo-no-background.svg" alt="Logo">
            </div>
        </div>
    </div>
</div>