.hero {
                    background: url('../../../../public/img-Home-page/oshin-khandelwal-OVpUFAvwhNA-unsplash.jpg') no-repeat center center;
                   background-size: cover;
                   height: 100vh;
                   /* Full height of the viewport */
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   text-align: center;
                   color: white;
               }
               
               .navbar {
                   height: 70px !important;
                   background-color: rgb(255, 255, 255) !important;
               }
               
               .categories {
                   padding-top: 100px;
               }