.hero {
    background: url('https://img.freepik.com/free-photo/egyptian-wall-with-hieroglyphs_23-2151617109.jpg?uid=R83961049&ga=GA1.1.1995512102.1711238667&semt=ais_hybrid') no-repeat center center;
   background-size: cover;
   height: 100vh;
   /* Full height of the viewport */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: rgb(0, 0, 0);
}

.navbar {
   height: 70px !important;
   background-color: rgb(255, 255, 255) !important;
}

.categories {
   padding-top: 100px;
}
.btn{
   background-color: #D4A95A;
   color: rgb(0, 0, 0);
}