<div class="footer pt-5 pb-3 text-dark-75 text-center text-md-start" *ngIf="showFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="info mb-5">
                    <a class="navbar-brand" href="/">
                        <img src="./assests/logo-no-background.svg" alt="Logo" class="logo mb-3">
                    </a>
                    <p class="mb-5">
                        ©Copyright,
                        <br>
                        <span class="fw-bold">The Nordic Lab, 2024</span>
                    </p>
                    <div class="copyright">
                        Created By <span>Created By Angular</span>
                    </div>
                    <div>&copy; 2024 - <span>Bondi INC</span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 ">
                <div class="links">
                    <h5 class="text-dark">Get in touch</h5>
                    <ul class="list-unstyled lh-lg">
                        <li>About us</li>
                        <li>Blogs</li>
                        <li>FAQ</li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2" >
                <div class="links">
                    <h5 class="text-dark">Our Collection</h5>
                    <ul class="list-unstyled lh-lg">
                        <li>All Products</li>
                        <li>Porfile</li>
                        <li>opinions</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact">
                        <h4 class="text-dark">FOLLOW US</h4>
                    <ul class="d-flex mt-4 list-unstyled gap-4">
                        <div class="d-flex justify-content-center ">
                            <a class="btn btn-foter btn-primary rounded-pill text-light text-center main-btn w-100"
                                href="#">Signup.com</a> 
                        </div>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" href=""><i
                                    class="fa-brands fa-facebook fa-lg-facebook rounded-circle p-3"></i></a>
                        </li>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" href=""><i
                                    class="fa-brands fa-instagram fa-lg-instagram rounded-circle p-3"></i></a>
                        </li>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" href="">
                            <i class="fa-brands fa-x-twitter rounded-circle p-3 "></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>