<div class="footer pt-5 pb-3 text-dark-75 text-center text-md-start" *ngIf="showFooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="info mb-5">
                    <a class="navbar-brand" href="/">
                        <img src="./assests/logo-no-background.svg" alt="Logo" class="logo mb-3">
                    </a>
                    <p class="mb-5">
                        Welcome to our platform where you can easily sell your handcrafted creations. Join our community
                        of creators and
                        connect with buyers who appreciate your artistry.
                    </p>
                    <div class="copyright">
                        Created By <span>Your Company Name</span>
                    </div>
                    <div>&copy; 2024 - <span>Your Website Name</span></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="links">
                    <h5 class="text-dark">Quick Links</h5>
                    <ul class="list-unstyled lh-lg">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="links">
                    <h5 class="text-dark">Resources</h5>
                    <ul class="list-unstyled lh-lg">
                        <li><a href="#">How It Works</a></li>
                        <li><a href="#">FAQs</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="contact">
                    <h5>Contact Us</h5>
                    <p class="lh-lg mt-3 mb-5">Have questions? Get in touch with us to learn more about how you can
                        start selling
                        your handmade products today!</p>
                    <ul class="d-flex mt-5 list-unstyled gap-4">
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-footer btn-primary rounded-pill text-light main-btn w-100"
                                href="mailto:yourcompanyemail@gmail.com"></a>
                        </div>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" href="#"><i
                                    class="fa-brands fa-facebook rounded-circle p-3"></i></a>
                        </li>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" href="#"><i
                                    class="fa-brands fa-instagram rounded-circle p-3"></i></a>
                        </li>
                        <li class="col-sm-2">
                            <a class="d-block text-light text-center" href="#"><i
                                    class="fa-brands fa-x-twitter rounded-circle p-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>