.imd {

    width: 80px;
    margin-right: 10px;
}

.logo {
    height: 30px;
    width: auto;
}

.footer {
    background: var(--color-gradient);
}

.footer .copyright>span {
    color: var(--green-color);
}


.footer .fa-facebook {
    background-color: #1877f2;
    transition: .3s;
    
}
.footer .fa-facebook:hover{
    background-color: #1565ce;
}

.footer .fa-instagram {
    background-color: #fd1d1d;
    transition: .3s;
}

.footer .fa-instagram:hover {
    background-color: #e1306c;
}

.footer .fa-youtube {
    background-color: #ff0000;
    transition: .3s;
}

.footer .fa-youtube:hover {
    background-color: #cc0000;
}
.footer .fa-x-twitter {
    background-color: black;
}

.btn-foter {
    color: #EEE2DC !important;
    background-color: #66483b !important;
    border: none;
}

.btn-foter:hover {
    color: #D4A95A !important;
    background-color: #66483b !important;
    border: none;
}
