.container-fluid {
  background-image: url("https://img.freepik.com/premium-photo/macrame-arrangement-with-copy-space_23-2149072871.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #eee;
  // background-blend-mode: darken;
  background-position: 50% 50%;
  background-size: 100%;
  background-size: cover;
  background-position: center;
  padding: 20px 20px;
}

.container {
  margin: auto;
  max-width: 90vw;
  text-align: end;
  padding-top: 10px;
  transition: transform .5s;
}

.section1 {
  margin: 0 auto;
}

.filtering {
  padding: 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  transition: .4s;
  background-color: #e0bc78;
  color: black;
  text-align: center !important;
  margin-bottom: 10px;
}

.filtering:hover {
  background-color: #ddb66d;
}

.card {
  background-color: #EEEEE6;
  padding: 15px;
  border-radius: 20px;
  transition: .3s;
}

.product-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100%;
}

img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: .3s;
  border-radius: 20px;
}

img:hover {
  transform: scale(1.02);
  opacity: .8;
}


.btn-shoping-card {
  background-color: #f0ce8f;
  color: black;
  text-align: center !important;
  margin-bottom: 10px;
  transition: .4s;
  font-weight: 600;
}

.btn-shoping-card:hover {
  background-color: #ddc79e;
}

.card-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#viewDetails {
  padding: 10px 15px;
  display: inline-block;
}

#addToCart {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
    transition: .5s;
}

#addToCart i {
  font-size: 24px;
  vertical-align: middle;
  color: #D4A95A;

}

#addToCart:hover {
  background-color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


.icon-cart {
  position: relative;
  display: inline-block;
  // position: fixed;
  // z-index: 1000000000000000000;

  // margin-left: 10px;
}

.container[_ngcontent-ng-c2708429709] {
  margin: auto;
  max-width: 90vw;
  text-align: left;
  padding-top: 10px;
  transition: transform 0.5s;
}

.search-bar.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.icon-shop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  color: #615c52;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  transition: .3s;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;

  &:hover {
    color: #000;
  }
}

.icon-cart span {
  position: absolute;
  background-color: #F44336;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  top: 50%;
  right: -20px;
}

#search-input {
  display: inline-block !important;
  width: 95% !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 968px) {
  .icon-cart {
    margin-top: 20px;
  }
}