<div class="section mt-5">
                    <!-- Toggle Button -->
                    <button (click)="toggleFilter()" class="btn btn-lg  mt-3 ">
                    Filter
                    </button>
                  
                    <!-- Filter Form (appears/disappears based on isFilterVisible) -->
                    <div *ngIf="isFilterVisible" class="filter-form mt-3">
                      <div class="card card-body">
                        <h5>Filter Options</h5>
                        <form>
                          <div class="mb-3">
                            <label for="category" class="form-label">Category Name:</label>
                            <input type="text" id="category" name="category" class="form-control">
                          </div>
                          <div class="mb-3">
                            <label for="price" class="form-label">Price : $</label>
                            <input type="number" id="price" name="price" class="form-control">
                          </div>
                          <div class="mb-3">
                            <label for="date" class="form-label">Date:</label>
                            <input type="date" id="date" name="date" class="form-control">
                          </div>
                        </form>
                      </div>
                    </div>
                  
                    <div class="section1">
                      <div class="carousel-container">
                        <!-- First Products Carousel -->
                        <div id="productCarousel1" class="carousel slide mt-3" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="row">
                                <div class="col-md-4" *ngFor="let product of products.slice(0, 3)">
                                  <div class="card">
                                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ product.name }}</h5>
                                      <p class="card-text">{{ product.price}}</p>
                                      <a href="#" class="btn mt-auto ">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item" *ngIf="products.length > 3">
                              <div class="row">
                                <div class="col-md-4" *ngFor="let product of products.slice(3, 6)">
                                  <div class="card">
                                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ product.name }}</h5>
                                      <p class="card-text">{{ product.price }}</p>
                                      <a href="#" class="btn mt-auto">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#productCarousel1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                  
                        <!-- Second Products Carousel -->
                        <div id="productCarousel2" class="carousel slide mt-3" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="row">
                                <div class="col-md-4" *ngFor="let product of products.slice(6, 9)">
                                  <div class="card">
                                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ product.name }}</h5>
                                      <p class="card-text">{{ product.price}}</p>
                                      <a href="#" class="btn mt-auto">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item" *ngIf="products.length > 9">
                              <div class="row">
                                <div class="col-md-4" *ngFor="let product of products.slice(9, 12)">
                                  <div class="card">
                                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ product.name }}</h5>
                                      <p class="card-text">{{ product.price}}</p>
                                      <a href="#" class="btn mt-auto ">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#productCarousel2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                  
                        <!-- Third Products Carousel -->
                        <div id="productCarousel3" class="carousel slide mt-3" data-bs-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="row">
                                <div class="col-md-4" *ngFor="let product of products.slice(12, 15)">
                                  <div class="card">
                                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ product.name }}</h5>
                                      <p class="card-text">{{ product.price }}</p>
                                      <a href="#" class="btn mt-auto">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item" *ngIf="products.length > 15">
                              <div class="row">
                                <div class="col-md-4" *ngFor="let product of products.slice(15, 18)">
                                  <div class="card">
                                    <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                                    <div class="card-body">
                                      <h5 class="card-title">{{ product.name }}</h5>
                                      <p class="card-text">{{ product.price }}</p>
                                      <a href="#" class="btn mt-auto">View Details</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#productCarousel3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                
