<div class="container-fluid">

  <div class="jld h-50 mt-3 mb-3">

    <div class="contaner">
      <div class="addtext text-center" style="margin-bottom: 50px; position: relative; top: 0px;">Add Product</div>

      <div class="content d-block d-sm-flex">
        <div class="proinfo  m-auto m-sm-2 w-100 ">
          <div>
            <h2>Prouduct Information</h2>
          </div>

          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Product Name</label>
              <input type="email" class="form-control w-75 " id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>

            <div class="my-4">
              <label for="exampleInputPassword1" class="form-label">Short Decription</label>

              <textarea class="form-control w-75" id="floatingTextarea2" style="height: 150px"></textarea>

            </div>

            <div class="my-4">
              <label for="exampleInputPassword2" class="form-label">Product Type </label>
              <select class="form-select w-100 " style="margin-bottom: 20px;" aria-label="Default select example">
                <option selected>prouduct type</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <div>
                <label for="exampleInputPassword1" class="form-label d-block">Product Price </label>
                <input type="text" class="form-control d-inline " aria-label="Amount (to the nearest dollar)">
                <span class="">$</span>
              </div>
            </div>

          </form>






        </div>
        <div class="addimg m-auto my-sm-2 w-100 ">
          <div>
            <h2>Prouduct Image</h2>
          </div>

          <div class="">
            <div class="card  text-center border-dashed w-75 m-auto"
              style="border: 2px dashed #b2b2b2; background: #bbbbbb;">
              <div style="position: relative; top: 35px;">
                <input type="file" id="file-upload" class="d-none" />
                <label for="file-upload" class="file-label">
                  <div class="file-icon mb-3">
                    <i class="fas fa-file-upload" style="font-size: 48px; color: #ffd500;"></i>
                  </div>
                  <p class="font-weight-bold">Select Image to Upload</p>
                  <small class="text-muted">or Drag and Drop, Copy and Paste Files</small>
                </label>
              </div>
            </div>
          </div>

        </div>




      </div>

    </div>


  </div>
</div>