*{

  overflow: hidden;


}
.jld{
  background: var(--color-gradient);

}

.addtext{
  font-size: 35px;
  font-weight: 700;
  padding: 20px;
  margin-bottom: 20px;


}

.proinfo{
  box-shadow: 0px 0px 5px  ;
  border-radius: 10px;
  padding: 20px;
  // background: #ff0101;
  width: 50%;
  margin-bottom: 20px;


  border: solid 2px;
  // margin-right: 5px;


}
.proinfo label{
  font-size: 20px;
  margin-bottom: 20px;

}




.form-control{
  margin-right: 10px;
  width: 50%;
  margin-bottom: 20px;


}


.addimg{
  box-shadow: 0px 0px 5px rgb(100, 80, 0) ;
  border-radius: 10px;
  padding: 10px;
  // background: #ff0101;
  width: 70%;
  // height: 650px;

  border: solid 2px;
  margin-bottom: 20px;



}

.card{
  position: relative;
  top: 100px;
  padding:40px;
  height: 400px;
  margin-bottom: 20px;

}

.border-dashed {
  border: 2px dashed #ccc;
  border-radius: 10px;
  // cursor: pointer;
  margin-bottom: 20px;


}

.file-label {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;

}

.file-label p {
  margin-bottom: 10px;
  // margin-bottom: 20px;

}


