<div class="container">
    <div class="siginin-signup">

        <div class="form-container ">
            <form action="" class="sign-in-form">

                <h2 class="title">Sign in</h2>

                <div class="input-field">
                    <!-- icon -->
                    <input type="email" name="" placeholder="Email" id="">
                </div>

                <div class="input-field" style="margin-bottom:30px;">
                    <!-- icon -->
                    <input type="password" name="" placeholder="Password" id="">


                </div>

                <input type="submit" value="Login" class="btn">
                <p class="social-text">Or Sign in with social platform</p>

                <div class="social-media">

                    <a href="#" class="social-icon">

                        <i class="fab fa-facebook"></i>

                    </a>
                    <a href="#" class="social-icon">

                        <i class="fab fa-twitter"></i>

                    </a>
                    <a href="#" class="social-icon">

                        <i class="fab fa-google"></i>

                    </a>
                    <a href="#" class="social-icon">

                        <i class="fab fa-linkedin-in"></i>

                    </a>
                </div>
                <p class="account-text">Don't have an account? <a href="#" id="sign-up-btn2">Sign up</a></p>
            </form>
        </div>

        <!-- --------------------------------- -->

        <div class="form-container">
            <form action="" class="sign-up-form">
                <h2 class="title">Sign up</h2>

                <div class="input-field">
                    <!-- icon -->
                    <input type="text" name="" placeholder="Frist Name" id="">
                    <div class="line"></div>
                    <input type="text" name="" placeholder=" Last Name" id="">
                </div>


                <div class="input-field">
                    <!-- icon -->
                    <input type="email" name="" placeholder="Email" id="">
                </div>

                <div class="input-field">
                    <!-- icon -->
                    <input type="password" name="" placeholder="Password" id="">
                </div>
                <div class="input-field">
                    <!-- icon -->
                    <input type="password" name="" placeholder="Confirm Password" id="">
                </div>

                <input type="submit" value="Sign up" class="btn">
                <p class="social-text">Or Sign in with social platform</p>

                <div class="social-media">
                    <a href="#" class="social-icon">

                        <i class="fab fa-facebook"></i>

                    </a>
                    <a href="#" class="social-icon">

                        <i class="fab fa-twitter"></i>

                    </a>
                    <a href="#" class="social-icon">

                        <i class="fab fa-google"></i>

                    </a>
                    <a href="#" class="social-icon">

                        <i class="fab fa-linkedin-in"></i>

                    </a>
                </div>

                <p class="account-text">Already have an account? <a href="#" id="sign-in-btn2">Sign in</a></p>

            </form>

        </div>

    </div>
    <div class="panels-container">

        <div class="panel left-panel">

            <div class="content">
                <h3>Hello, Friend 👋</h3>
                <p>Lorem ipsum liquid accusantium. Fugiat ut provident nisi id, repudiandae aperiam dolorem amet
                    accusamus consequuntur debitis error deleniti ullam suscipit et vitae cum!</p>
                <button class="btn" id="sign-in-btn">Sign in</button>
            </div>
            <!-- img -->

        </div>
        <div class="panel right-panel">

            <div class="content">
                <h3>Happe To See You Again ✨ </h3>
                <p>Lorem ipsum epudiandae aperiam dolorem amet accusamus consequuntur debitis error deleniti ullam
                    suscipit et vitae cum! Lorem, ipsum dolor sisse amet illo totam mollitia aspernatur </p>
                <div>
                    <h6 style="display: inline; margin-right: 10px;">i am do not have a account </h6>
                    <button class="btn" id="sign-up-btn">Sign up</button>
                </div>
            </div>
            <!-- img -->


        </div>
    </div>

</div>