* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}


.container {
    overflow: hidden;
}

.container::before {
    content: '';
    box-shadow: 0 1px 2px rgba(211, 211, 211, 0.3), 0 6px 20px rgba(60, 60, 60, 0.3);
    border-radius: 100px 10px;
    position: fixed;
    left: -40%;
    width: 100%;
    height: 99.8%;
    // background: linear-gradient(-45deg, #ADC7B7, #EEE2DC, #f0b952);
    background: var(--color-gradient);
    z-index: 6;
    transform: translateX(100%);
    transition: .8s ease-in-out;
}

.siginin-signup {
    background-image: url(./../../../../public/img-Sign/file.png);
    background-size: 2000px 960px;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 5;
}


.ft {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 50px;
    min-width: 420px;
    // backdrop-filter: blur(100px);

}

.fb {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 420px;
    position: relative;
    width: 40vw;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    // backdrop-filter: blur(100px);
}


form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-duration: 1s;
}

form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-duration: 1s;
}


.title {
    font-size: 35px;
    color: #000000;
    margin-bottom: 40px;
}

.input-field {
    width: 80%;
    display: flex;
    align-items: center;
    background: transparent;
    font-size: 1em;
    // margin-left: 10px;

}

.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;


}

.input-field input {
    flex: 5;
    width: 200px;
    font-size: 18px;
    border-radius: 10px;



}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background: #FFCB9A;
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #e9c5a4;
}

.social-text {
    margin: 10px 0;
    font-size: 16px;

}

.social-media {
    display: flex;
    justify-content: center;


}

.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 20px;
    border: 2px solid #ffc690;
    margin: 0 5px;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.social-icon:hover {
    color: #7c6b5b;
    border-color: #000000;
}

a {
    text-decoration: none;
}

.panels-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 40%;
    min-width: 238px;
    padding: 0 20px;
    text-align: center;
    z-index: 6;

}


.left-panel {
    pointer-events: none;
}



.content {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
    color: #000000;
    transition: 1.1s ease-in-out;
    transition-duration: 0.5s;
}


.panel h3 {
    font-weight: 600;
    font-size: 28px;
}

.panel p {
    font-weight: 500;
    font-size: 19px;
    padding: 10px 0;
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

.account-text {
    display: none;
}

.account-text a {
    color: #ff9100;
}

.line {
    width: 2px;
    height: 70px;
    background: #000;
}

.word{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 padding: 60px !important;
}

h6{
  font-size: 17px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}







/* --------------Animation--------------- */

.container.sign-up-mode::before {
    transform: translateX(-20%);


}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(110%);
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}


.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}

.container.sign-up-mode .right-panel {
    pointer-events: none;
}

.container.sign-up-mode .left-panel {
    pointer-events: all;
}



/* Responsive */

@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:635px) {

    .container::before {
        display: none;
    }

    form.sign-up-form {
        display: none;

    }

    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }

    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }

    .panels-container {
        display: none;
    }

    form {
        width: 80%;
    }

    .account-text {
        display: inline;
        margin-top: 30px;
    }
}



@media (max-width:320px) {
    form {
        max-width: 350px;
        ;
    }
}
